.home-top-section {
    /* background: #f9f9f9 url(${HomeImage}) no-repeat bottom; */
    background-size: 100% auto;
    height: 91vh;
    min-height: 450px;
    padding-top: 20vh;
    @media (min-width: 768px) {
      height: 91vh;
      min-height: 300px;
      padding-top: 15vh;
    }
    @media (max-width: 576px) {
      height: 60vh;
      min-height: 200px;
      padding-top: 10vh;
    }
  }

  .mdScreen{
    height: 115;
  }